@model GerenciamentoProducao.Models.RelatorioProducao

@{
    ViewData["Title"] = "Deletar Relatório de Produção";
}

<h1>Deletar</h1>

<h3>Tem certeza que deseja deletar este relatório de produção?</h3>
<div>
    <h4>Relatório de Produção</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRelatorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRelatorio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PesoTotalProduzido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesoTotalProduzido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusMeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusMeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.NomeUsuario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdRelatorio" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a Lista</a>
    </form>
</div>