@model GerenciamentoProducao.Models.RelatorioProducao

@{
    ViewData["Title"] = "Detalhes do Relatório de Produção";
}

<h1>Detalhes</h1>

<div>
    <h4>Relatório de Produção</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRelatorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRelatorio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PesoTotalProduzido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesoTotalProduzido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCaixilhosProduzidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCaixilhosProduzidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalFamiliasProduzidas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalFamiliasProduzidas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EficienciaProducao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EficienciaProducao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoMedioProducao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoMedioProducao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusMeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusMeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.NomeUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdRelatorio">Editar</a> |
    <a asp-action="Index">Voltar para a Lista</a>
</div>