@model IEnumerable<GerenciamentoProducao.Models.TipoCaixilho>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoCaixilho)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoCaixilho)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTipoCaixilho">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTipoCaixilho">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTipoCaixilho">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
